// @import "tailwindcss";
/* @import "variable.scss"; */
@use "tailwindcss";
@use "./variable.scss";

html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --theme-primary: #fff;
    --theme-secondary: #1677ff;
    --theme-third: #ee525a;
    --theme-current: var(--theme-primary);
}

.ant-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Table dark trong dashboard */
.dashboard-table-dark .ant-table,
.dashboard-table-dark .ant-table-container,
.dashboard-table-dark .ant-table-thead>tr>th,
.dashboard-table-dark .ant-table-tbody>tr>td {
    background-color: #0f172a;
    /* đen xanh kiểu sidebar của em */
    color: #e5e7eb;
}

.dashboard-table-dark .ant-table-thead>tr>th {
    border-bottom-color: #1f2937;
}

.dashboard-table-dark .ant-table-tbody>tr>td {
    border-bottom-color: #1f2937;
}

.dashboard-table-dark .ant-table-tbody>tr.ant-table-row:hover>td {
    background-color: #111827;
}