.btn-finish-batch-salary {
    border-color: #3ece13 !important;
    color: #3ece13 !important;
}

.btn-finish-batch-salary:hover {
    border-color: #2dab0f !important;
    color: #2dab0f !important;
    background-color: rgba(62, 206, 19, 0.1) !important;
}